<form class="searchForm">
	<input type="text" id="searchInput" ng-model="searchText" placeholder="Enter Search Terms">
	<input type="submit" id="searchSubmit" ng-click="search()" value="Search">
</form>
<div id="results" ng-hide="firstSearch">
	<p id="resultText"><b>Showing Results For: </b>"{{resultText}}"</p>
	<div id="results">
		<div class="result" id="resultLabel">
			<p>Go to Channel</p>
			<p>Channel ID</p>
		</div>
		<div class="result" ng-repeat='item in results'>
			<img src="{{item.snippet.thumbnails.default.url}}" alt="">
			<a href="http://youtube.com/channel/{{item.id.channelId}}">{{item.snippet.channelTitle}}</a>
			<p>{{item.id.channelId}}</p>
		</div>
	</div>
</div>


