<form class="searchForm">
	<input type="text" id="searchInput" ng-model="searchText" placeholder="Enter Search Terms">
	<input type="submit" id="searchSubmit" ng-click="search()" value="Search">
</form>

<div id="results" ng-hide="firstSearch">
	<p id="resultText"><b>Showing Results For: </b>"{{resultText}}"</p>
	<button id="saveResults" ng-click="saveResults()">Save Results</button>
	<div id="results">
		<div class="result" ng-repeat='item in results track by $index'>
			<img src="{{item.snippet.thumbnails.default.url}}" alt="">
			<div class="resultLeft">
				<a href="http://youtube.com/channel/{{item.id.channelId}}">{{item.snippet.channelTitle}}</a>
				<p>{{item.snippet.description}}</p>
			</div>
			<button class="statsButton" ng-click="subscriberCount($index)">Statistics</button>
			<div class="stats" ng-hide="showStats[$index] === undefined">
				<p><strong>Channel Id:</strong> {{item.id.channelId}}</p>
				<p><strong>Subscribers:</strong> {{stats[$index].statistics.subscriberCount}}</p>
				<p><strong>Video Count:</strong> {{stats[$index].statistics.videoCount}}</p>
				<p><strong>View Count:</strong> {{stats[$index].statistics.viewCount}}</p>
			</div>
		</div>
	</div>
</div>


